@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat"), url("./Montserrat-Regular.woff") format("woff");
}
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: rgba(51, 51, 51, 1);
  font-size: 16px;
}
a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
h1 {
  font-size: 48px;
  font-weight: bold;
  color: rgba(51, 51, 51, 1);
}
h3 {
  font-size: 24px;
  font-weight: bold;
  color: rgba(51, 51, 51, 1);
  margin: 0;
}
h4 {
  font-size: 20px;
  font-weight: bold;
  color: rgba(51, 51, 51, 1);
  margin: 0;
}
h5 {
  font-size: 16px;
  font-weight: bold;
  color: rgba(51, 51, 51, 1);
  margin: 0;
}
header {
  display: block;
  position: sticky;
  top: 0;
  height: 76px;
  background-color: rgb(255, 255, 255);
  padding: 0px 120px;
  border-bottom: 1mm solid rgba(239, 245, 251, 1);
  z-index: 1000;
}
.logo {
  display: inline-block;
}
.logo img {
  margin: 20px 0;
  width: 51px;
  height: 36px;
  color: rgba(41, 99, 163, 1);
  cursor: pointer;
}
.navigation {
  display: inline-block;
  position: fixed;
  top: 0;
}
.navigation__navigation-list {
  list-style-type: none;
  display: inline-block;
  height: 16px;
  margin: 30px 0px 30px 51px;
  padding: 0px;
}
.navigation__navigation-list_item_item {
  display: inline-block;
  font-size: 14px;
  margin: 0 30px 0 0;
}
.navigation__navigation-list_item_link {
  color: rgba(51, 51, 51, 1);
}
.navigation__navigation-list_item_link img {
  margin: 2px 0 0 8px;
  width: 14px;
}
.navigation__navigation-list_item_link:hover {
  cursor: pointer;
  text-decoration: underline;
  font-size: 15px;
}
.navigation__burger-button {
  display: none;
}
.search {
  display: block;
  position: fixed;
  top: 0;
  width: 230px;
  height: 48px;
  background-color: rgba(227, 245, 245, 1);
  right: 120px;
  margin: 14px 0;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  color: rgba(3, 178, 165, 1);
}
.search:hover {
  background-color: rgba(3, 178, 165, 1);
  color: rgba(227, 245, 245, 1);
  cursor: pointer;
}
main {
  padding: 0px 120px;
}
.path {
  display: block;
  margin: 16px 0 0 6px;
}
.path__item {
  font-size: 12px;
  margin: 0 8px 0 0;
}
.path__item img {
  margin: 1px 0 1px 4px;
}
.path__item:hover {
  cursor: pointer;
  text-decoration: underline;
  font-size: 14px;
}
.main {
  padding: 0 120 px;
}
.article {
  width: 690px;
}
.article h1 {
  margin: 0 0 16px;
}
.article__info {
  font-size: 14px;
  color: rgba(73, 73, 73, 1);
}
.article__img_first {
  margin: 24px 0;
}
.article__nav {
  display: block;
  margin: 0;
  width: 588px;
  padding: 0;
}
.article__nav p {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 16px;
}
.article__nav_nav-list {
  width: 588px;
  padding: 0 0 0 20px;
}
.article__nav_nav-list :nth-child(3) {
  list-style: none;
}
.article__nav_nav-list_item {
  margin: 0 0 8px;
}
.article__nav_nav-list_item marker {
  color: rgba(3, 178, 165, 1);
}
.article__nav_nav-list-second {
  list-style: none;
  margin: 8px 0;
}
.article__first-block {
  padding: 0;
  margin: 24px 0 40px;
}
.article__first-block h3 {
  margin: 0 0 16px;
}
.article__first-block_text {
  display: block;
}
.article__second-block {
  margin: 0 0 16px;
  padding: 24px;
  background-color: rgba(243, 247, 254, 1);
  border-radius: 16px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.article__second-block p {
  margin: 16px 0 0;
  font-weight: bold;
}
.article__third-block {
  display: block;
  margin: 0 0 24px;
  padding: 0;
}
.article__third-block_text-list {
  padding: 0 0 0 20px;
}
.article__third-block_text-list_item {
  margin: 16px 0 0;
}
.article__img_second {
  display: block;
}
.article__img_second_description {
  display: block;
  margin: 16px 0 24px;
  font-size: 14px;
  color: rgba(134, 134, 134, 1);
}
.article__fourth-block {
  display: block;
  margin: 0;
  padding: 0;
}
.article__fourth-block_text-1 {
  display: block;
}
.article__fourth-block_text-2 {
  display: block;
  margin: 48px 103px 72px;
  text-align: center;
  font-style: italic;
}
.article__fourth-block_text-3 {
  display: block;
}
.third-picture {
  display: block;
  position: relative;
}
.article__img_third {
  display: inline-block;
  margin: 24px 24px 0 0;
}
.article__img_third_description {
  display: inline-block;
  position: absolute;
  top: 24px;
  width: 370px;
  margin: 0;
  padding: 0;
}
.article__fifth-block {
  display: block;
  margin: 24px 0;
  padding: 0;
}
.article__sixth-block {
  display: block;
  background-color: rgba(254, 250, 236, 1);
  padding: 24px;
  border-radius: 16px;
}
.article__sixth-block h5 {
  margin: 0 0 8px;
}
.article__seveth-block {
  display: block;
  margin: 24px 0;
}
.article__seveth-block_text-list {
  display: block;
  padding: 0 0 0 20px;
}
.article__seveth-block_text-list_item {
  margin: 16px;
}
.fourth-picture {
  display: block;
  position: relative;
}
.article__img_fourth {
  display: inline-block;
  margin: 0 24px 0 0;
}
.article__img_fourth_description {
  position: absolute;
  top: 0;
  display: inline-block;
  width: 386px;
  margin: 0;
}
.article__eighth-block {
  display: block;
  margin: 24px 0;
}
.article__ninth-block {
  display: block;
  background-color: rgba(254, 250, 236, 1);
  padding: 24px;
  border-radius: 16px;
  margin: 0 0 24px;
}
.article__ninth-block h5 {
  margin: 0 0 8px;
}
.pictures {
  display: flex;
  justify-content: space-between;
}
.pictures-child-1 {
  display: inline-block;
  width: 333px;
  margin: 0;
  padding: 0;
}
.pictures-child-2 {
  display: inline-block;
  width: 333px;
  padding: 0;
  margin: 0;
}
.pictures-child-1 p,
.pictures-child-2 p {
  margin: 24px 0 0;
  padding: 0;
}
.lightning {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 24px 0;
}
.article__ten-block {
  display: block;
}
.article__eleven-block {
  display: block;
  background-color: rgba(254, 250, 236, 1);
  padding: 24px;
  border-radius: 16px;
  margin: 24px 0;
}
.article__eleven-block h5 {
  margin: 0 0 8px;
}
footer {
  display: block;
  height: 262px;
  max-width: 100%;
  position: relative;
  padding: 40px 120px 0px;
  margin: 0;
  background-color: rgba(41, 99, 163, 1);
}
.footer-navigation {
  display: block;
  padding: 0;
  margin: 0;
  width: 310px;
}
.footer-navigation__navigation-list {
  list-style-type: none;
  margin: 0 0 24px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 24px);
  row-gap: 16px;
  column-gap: 93px;
}
.footer-navigation__navigation-list_item_item {
  display: block;
  position: relative;
  grid-row-start: 1 / span 1;
  grid-row-end: span;
  grid-column-start: 1 / span 1;
  grid-auto-flow: column;
}
.footer-navigation__navigation-list_item_link {
  font-size: 16px;
  font-weight: bold;
  color: white;
}
.footer-navigation__navigation-list_item_link:hover {
  cursor: pointer;
  text-decoration: underline;
}
.subscribe {
  display: block;
  position: absolute;
  top: 0;

  margin: 40px 92px 92px 402px;
  width: 486px;
}
.subscribe__description {
  display: flex;
  font-size: 18px;
  font-weight: bold;
  color: white;
  width: 356px;
  flex-wrap: wrap;
}
.subscribe__form {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  width: 384px;
  height: 48px;
  margin: 8px 0;
}
.subscribe__input-form {
  display: inline-block;
  position: relative;
  width: 322px;
  height: 48px;
  border-radius: 4px;
  border: none;
  padding: 0 0 0 16px;
  font-size: 14px;
}
.subscribe__confirm {
  display: inline-block;
  width: 64px;
  height: 48px;
  justify-content: center;
  align-content: center;
  background-color: rgba(22, 200, 187, 1);
  color: white;
  border: none;
  border-radius: 4px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
}
.subscribe__confirm :hover {
  cursor: pointer;
}
.subscribe__warning {
  font-size: 12px;
  color: white;
}
.social {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  margin: 40px 120px 0 0;
  width: 221px;
}
.social__icon_type_sf {
  width: 221px;
  height: 50px;
  color: white;
  margin: 0 0 40px;
}
.social__icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: 0 16px 0 0;
}
.social a :hover {
  cursor: pointer;
}
hr {
  display: block;
  background-color: rgba(157, 157, 157, 1);
  height: 1px;
  border: none;
  margin: 24px 0 16px 0;
}
.tech {
  display: block;
  margin: 0;
  padding: 0;
}
.tech__copyright {
  color: white;
  font-size: 14px;
}
.tech__link {
  color: white;
  font-size: 14px;
  margin: 0 0 0 40px;
}
.tech__link:hover {
  cursor: pointer;
  text-decoration: underline;
  font-size: 15px;
}
