@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat"), url("./Montserrat-Regular.woff") format("woff");
}
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: rgba(51, 51, 51, 1);
}
a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
h1 {
  font-size: 48px;
  font-weight: bold;
  color: rgba(51, 51, 51, 1);
  margin: 30px 0 32px 0;
}
h3 {
  font-size: 18px;
  font-weight: bold;
  color: rgba(51, 51, 51, 1);
  margin: 0;
}
header {
  display: block;
  position: sticky;
  top: 0;
  height: 76px;
  background-color: rgb(255, 255, 255);
  padding: 0px 120px;
  border-bottom: 1mm solid rgba(239, 245, 251, 1);
  z-index: 1000;
}
.logo {
  display: inline-block;
}
.logo img {
  margin: 20px 0;
  width: 51px;
  height: 36px;
  color: rgba(41, 99, 163, 1);
  cursor: pointer;
}
.navigation {
  display: inline-block;
  position: fixed;
  top: 0;
}
.navigation__navigation-list {
  list-style-type: none;
  display: inline-block;
  height: 16px;
  margin: 30px 0px 30px 51px;
  padding: 0px;
}
.navigation__navigation-list_item_item {
  display: inline-block;
  font-size: 14px;
  margin: 0 30px 0 0;
}
.navigation__navigation-list_item_link {
  color: rgba(51, 51, 51, 1);
}
.navigation__navigation-list_item_link img {
  margin: 2px 0 0 8px;
  width: 14px;
}
.navigation__navigation-list_item_link:hover {
  cursor: pointer;
  text-decoration: underline;
  font-size: 15px;
}
.navigation__burger-button {
  display: none;
}
.search {
  display: block;
  position: fixed;
  top: 0;
  width: 230px;
  height: 48px;
  background-color: rgba(227, 245, 245, 1);
  right: 120px;
  margin: 14px 0;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  color: rgba(3, 178, 165, 1);
}
.search:hover {
  background-color: rgba(3, 178, 165, 1);
  color: rgba(227, 245, 245, 1);
  cursor: pointer;
}
main {
  padding: 0px 120px;
}
.path {
  display: block;
  margin: 16px 0 0 6px;
}
.path__item {
  font-size: 12px;
  margin: 0 8px 0 0;
}
.path__item img {
  margin: 1px 0 1px 4px;
}
.path__item:hover {
  cursor: pointer;
  text-decoration: underline;
  font-size: 14px;
}
.filters {
  display: block;
  margin: 0 0 24px 0;
  padding: 0;
  height: 32px;
}
.filters__list {
  list-style-type: none;
  display: inline-flex;
  padding: 0;
  margin: 0;

  flex-wrap: wrap;
}
.filters__list_item_item {
  display: inline-flex;
  justify-content: center;
  margin: 0 0 12px 0;
}
.filters__list_item_button {
  display: inline-flex;
  align-items: center;
  height: auto;
  border: 1px solid rgba(193, 197, 205, 1);
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 0);
  padding: 6px 8px;
  margin: 0 8px 0 0;
  font-size: 14px;
  font-weight: 600;
  color: rgba(51, 51, 51, 1);
}
.filters__list_item_button img {
  margin: 0 4px 0 0;
}
.filters__list_item_button:hover {
  cursor: pointer;
  background-color: lightgray;
}
.articles {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 500px;
  grid-auto-rows: 475px;
  column-gap: 24px;
  row-gap: 24px;
  margin: 0;
}
.articles__article-card_type_main-article {
  position: relative;
  grid-column: span 3;
  grid-row: 1;
  background-color: white;
}
.articles__article-card_type_secondary-article {
  position: relative;
  grid-row-start: 2 / span 1;
  grid-column: span 2;
  background-color: white;
}
.label {
  position: relative;
  display: flex;
  margin: 8px 0 0 8px;
  padding: 6px 8px;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: rgba(51, 51, 51, 1);
  border: 1px solid rgba(193, 197, 205, 1);
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 100;
}
.label img {
  margin: 0 4px 0 0;
}
.label:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 1);
}
.articles__article-card_type_background-main {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  border-radius: 16px 16px 0 0;
}
.articles__article-card_type_background-secondary {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  border-radius: 16px 16px 0 0;
}
.article-content__link:hover {
  cursor: pointer;
  text-decoration: underline;
}
.article-content-main {
  display: block;
  position: absolute;
  bottom: 0;
  height: 207px;
  border: 1px solid rgba(222, 222, 222, 1);
  border-radius: 0 0 16px 16px;
  padding: 16px;
}
.article-content-secondary {
  display: block;
  position: absolute;
  bottom: 0;
  height: 184px;
  border: 1px solid rgba(222, 222, 222, 1);
  border-radius: 0 0 16px 16px;
  padding: 16px;
}
.article-content-main__article-author {
  margin: 4px 0 8px 0;
  color: rgba(73, 73, 73, 1);
  font-size: 12px;
}
.article-content-secondary__article-author {
  margin: 4px 0 8px 0;
  color: rgba(73, 73, 73, 1);
  font-size: 12px;
}
.article-content-main__article-preview {
  margin: 0;
  font-size: 14px;
}
.article-content-secondary__article-preview {
  margin: 0;
  font-size: 14px;
}
.article-content-main__article-date {
  position: absolute;
  bottom: 16px;
  margin: 0;
  font-size: 12px;
  color: rgba(129, 129, 129, 1);
}
.article-content-secondary__article-date {
  position: absolute;
  bottom: 16px;
  margin: 0;
  font-size: 12px;
  color: rgba(129, 129, 129, 1);
}
.main__function-more {
  display: flex;
  justify-content: center;
}
.main__function-more_type_button {
  margin: 56px 0 96px 0;
  padding: 12px 16px;
  width: 182px;
  height: 48px;
  border: none;
  border-radius: 4px;
  background-color: rgba(53, 179, 169, 1);
  color: white;
  font-size: 16px;
  font-weight: bold;
}
.main__function-more_type_button:hover {
  cursor: pointer;
  background-color: rgb(34, 113, 107);
}
footer {
  display: block;
  height: 262px;
  max-width: 100%;
  position: relative;
  padding: 40px 120px 0px;
  margin: 0;
  background-color: rgba(41, 99, 163, 1);
}
.footer-navigation {
  display: block;
  padding: 0;
  margin: 0;
  width: 310px;
}
.footer-navigation__navigation-list {
  list-style-type: none;
  margin: 0 0 24px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 24px);
  row-gap: 16px;
  column-gap: 93px;
}
.footer-navigation__navigation-list_item_item {
  display: block;
  position: relative;
  grid-row-start: 1 / span 1;
  grid-row-end: span;
  grid-column-start: 1 / span 1;
  grid-auto-flow: column;
}
.footer-navigation__navigation-list_item_link {
  font-size: 16px;
  font-weight: bold;
  color: white;
}
.footer-navigation__navigation-list_item_link:hover {
  cursor: pointer;
  text-decoration: underline;
}
.subscribe {
  display: block;
  position: absolute;
  top: 0;

  margin: 40px 92px 92px 402px;
  width: 486px;
}
.subscribe__description {
  display: flex;
  font-size: 18px;
  font-weight: bold;
  color: white;
  width: 356px;
  flex-wrap: wrap;
}
.subscribe__form {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  width: 384px;
  height: 48px;
  margin: 8px 0;
}
.subscribe__input-form {
  display: inline-block;
  position: relative;
  width: 322px;
  height: 48px;
  border-radius: 4px;
  border: none;
  padding: 0 0 0 16px;
  font-size: 14px;
}
.subscribe__confirm {
  display: inline-block;
  width: 64px;
  height: 48px;
  justify-content: center;
  align-content: center;
  background-color: rgba(22, 200, 187, 1);
  color: white;
  border: none;
  border-radius: 4px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
}
.subscribe__confirm :hover {
  cursor: pointer;
}
.subscribe__warning {
  font-size: 12px;
  color: white;
}
.social {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  margin: 40px 120px 0 0;
  width: 221px;
}
.social__icon_type_sf {
  width: 221px;
  height: 50px;
  color: white;
  margin: 0 0 40px;
}
.social__icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: 0 16px 0 0;
}
.social a :hover {
  cursor: pointer;
}
hr {
  display: block;
  background-color: rgba(157, 157, 157, 1);
  height: 1px;
  border: none;
  margin: 24px 0 16px 0;
}
.tech {
  display: block;
  margin: 0;
  padding: 0;
}
.tech__copyright {
  color: white;
  font-size: 14px;
}
.tech__link {
  color: white;
  font-size: 14px;
  margin: 0 0 0 40px;
}
.tech__link:hover {
  cursor: pointer;
  text-decoration: underline;
  font-size: 15px;
}
